:root{
    --primaricolor:#fff;
    --font-color:#252a34;
    --purple:#8204CD ;
    --white:#eaeaea;
    --brown:#423434;
    --black:#252a34;
}
.dark-theme{
    --primaricolor:#1a1a1a;
    --font-color:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: var(--primaricolor);
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}
/**Header**/

#header{
    position: relative;
    width: 100%;
}
/**Menu**/

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--primaricolor);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 20px;
    flex: 1;
    text-align: right;
}
.menu .logo-box h1{
    text-align: left;
    margin-left: 5px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--font-color);
}
.menu .list-container{
    margin-right: none;
}
.menu .list-container .list{
    display: flex;
}
.menu .list-container .list li{
    list-style: none;
}
.menu .list-container .list li a{
    text-decoration: none;
    margin: 0px 5px;
    padding: 8px;
    color: var(--font-color);
    border-radius: 15px;
    font-size: 16px;
    transition: 0.3s;
}
.menu .list-container .list li a.activo{
    background: var(--purple);
    color: #fff;
}
.menu .list-container .list li a:hover{
    background: var(--purple);
    color: #fff;
}
.btn-menu > .fa-bars{
    display: none;
}
#icono{
    margin: 20px;
    margin-left: 5px;
    width: 22px;
    cursor: pointer;
    margin-right: 20px;
}

/**Header**/

.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 100px;
    color: #fff;
    font-weight: 200;
    justify-content: center;
    text-align: center;
}
.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--purple);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    font-style: normal;
    justify-content: center;
}
.img-header .welcome > button a{
    text-decoration: none;
    color: white;
}
.img-header .welcome > button:hover{
    background: var(--brown);
}

/**Acerca de mi**/

.acerca-de{
    width: 100%;
    margin-top: 120px;
}
.acerca-de .info-container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.acerca-de .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--font-color);
    text-align: center;
    margin-bottom: 20px;
}
.acerca-de .info-container p{
    text-align: center;
    font-size: 17px;
    color: var(--font-color);
    line-height: 35px;
    margin: 10px 0px;
}
.acerca-de .info-container .acerca-de-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de .info-container .acerca-de-gallery img{
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/**Mis projectos**/

.img-project{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/img-project.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.img-project .deg-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.img-project .ejeZproject{
    position: relative;
    width: 100%;
    height: 100%;
}
.img-project .project-container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.img-project .project-container .project-title{
    border: none;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.img-project .project-container .project-title h2{
    font-size: 50px;
    color: #fff;
    font-weight: normal;
}
.img-project .project-container .project-title p{
    padding: 20px;
    font-size: 19px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}
.img-project .project-container .project-img{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px ;
    padding-bottom: 100px;
}
.img-project .project-container .project-img img{
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.img-project .project-container .project-img .leer-mas{
    width: 100%;
    display:flex;
    justify-content: center;
}
.img-project .project-container .project-img .leer-mas > button{
    width: 170px;
    height: 40px;
    background: var(--purple);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    cursor: pointer;
    transition: 0.5s;
}
.img-project .project-container .leer-mas > button a{
    text-decoration: none;
    color: #fff;
}
.img-project .project-container .leer-mas > button:hover{
    background: var(--brown);
}

/** Experiencia **/

.experiencia{
    width: 100%;
    margin-top: 100px;
}
.experiencia .experiencia-title{
    width: 50%;
    margin: auto;
    text-align: center;
}
.experiencia .experiencia-title h2{
    font-size: 50px;
    color: var(--font-color);
    font-weight: normal;
    margin-bottom: 10px;
}
.experiencia .box-experiencia{
    width: 90%;
    margin: 60px auto;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.experiencia .box-experiencia .card-experiencia{
    width: 45%;
    margin: 10px;
}
.experiencia .box-experiencia .card-experiencia .card-img{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.experiencia .box-experiencia .card-experiencia .card-img img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    cursor: pointer;
}
.experiencia .box-experiencia .card-experiencia .experiencia-text{
    width: 80% auto;
    height: 80% auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    transition: 200ms;
}
.experiencia .box-experiencia .card-experiencia .experiencia-text h4{
    color: var(--font-color);
    font-weight: normal;
    font-size: 27px;
    text-align: center;
    margin-bottom: 20px;
    transition: 200ms;
}
.experiencia .box-experiencia .card-experiencia .experiencia-text p{
    font-size: 19px;
    color: var(--font-color);
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}
.experiencia .box-experiencia .card-experiencia .experiencia-text:hover{
    border: 2px solid var(--purple);
}

/**Footer**/

.footer{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/img-footer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer{
    position: absolute;
    width: 100%;
    height: 100%;
}
.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-container{
    width: 90%;
    padding-top: 100px;
    margin: auto;
}
.footer .footer-container .footer-title{
    width: 50%;
    margin: auto;
    padding: 22px;
}
.footer .footer-container .footer-title h2{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 10px;
}
.footer .footer-container .formulario-content{
    width: 60%;
    background: #fff;
    border-radius: 10px;
    border: 2px solid var(--white);
    margin: 50px auto;
    padding: 30px;
    margin-bottom: 110px;
}
.footer .footer-container .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .footer-container .formulario-content #formulario label{
    text-align: center;
    color: var(--black);
    font-size: 22px;
    margin: 30px 0px 5px 5px;
}
.footer .footer-container .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin: auto;
    border: 2px solid var(--white);
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: var(--black);
}
.footer .footer-container .formulario-content #formulario textarea{
    width: 90%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--white);
    border-radius: 10px;
    outline: none;

    font-size: 15px;
    color: var(--black);
    padding: 20px;
}
.footer .footer-container .formulario-content #formulario .send{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.footer .footer-container .formulario-content #formulario .send button{
    width: 150px;
    height: 40px;
    background-color: var(--purple);
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.footer .footer-container .formulario-content #formulario .mensaje-form{
    text-align: center;
    font-size: 22px;
}
.footer .footer-container .formulario-content #formulario .send button:hover{
    background: var(--brown);
}
.footer .footer-text{
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: var(--primaricolor);

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-text p{
    font-size: 18px;
    color: var(--font-color);
    text-align: center;
    line-height: 35px;
}

/*Media Query*/

@media only screen and (max-width:900px){
    .btn-menu>.fa-bars{
        display: block;
        position: absolute;
        top: 17px;
        right: 60px;
        font-size: 28px;
        cursor: pointer;
    }
    .btn-menu>.fa-bars:hover{color:var(--purple);}
    .btn-menu>.fa-times{color:var(--purple);}
    .menu .list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%; 
        height: calc(100vh - 60px);
        background: var(--primaricolor);
    }
    .menu .list-container .list{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu .list-container .list li{
        width: 90%;
        margin: 10px 0px;
        padding: 20px;
        text-align: center;
    }
    .menu .list-container .list li a{
       font-size: 20px;
       border-radius: 10px;
    }
    .menu .list-container .list li a.active{
        background: none;
        color:var(--purple)
    }
    .menu .list-container .list li a:hover{
        background: none;
        color:var(--purple)
    }
}